

/* *************************************** */
/* *******  START General Style   ******** */
/* *************************************** */
* {
  box-sizing: border-box;

}

html,
body {
  background-color: #121212 !important;
   box-sizing: border-box;
  color: #fff !important;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: var(--font-light-ar);
  line-height: 1.5;
  word-spacing: 2px;
  text-align: center !important
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.App {
margin-top: 50px;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  border: #7777 1px solid;
  justify-content: space-evenly;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  16px 32px rgba(0,0,0,0.07),
   16px 32px rgba(0,0,0,0.07),
   8px 16px rgba(0,0,0,0.07),
   16px 32px rgba(0,0,0,0.07), 
   32px 64px rgba(0,0,0,0.07);
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}
/* *************************************** */
/* *******  /* QUESTION//LEFT SECTION **** */
/* *************************************** */

.question-section {
  width: 100%;
  position: relative;
}
.question-count {
  margin-bottom: 20px;
}
.question-text {
  margin-bottom: 12px;
}
.answer-section {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
}
button:hover {
  background-color: #555e7d;
}
input, input::-webkit-input-placeholder {

  text-align: center;
  font-size: 13px;
  line-height: 3; 
}
/* *************************************** */
/* *******  nesting Style   ******** */
/* *************************************** */
.answer-section ,button,.App{
  display: flex;
}
input ,button{  
  border-radius: 8px !important;
  justify-content: center !important;  
  background-color: #252d4a;
  color: #ffffff;
  border: 1px solid #234668;
  padding: 5px;
}
button:focus ,:focus-visible {
  outline: none;
}